
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Varmora Forge Pvt. Ltd.</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="https://www.varmoraforge.com/css/navigation.css" />
<link rel="stylesheet" type="text/css" href="https://www.varmoraforge.com/css/style.css" />
<link rel="stylesheet" type="text/css" href="https://www.varmoraforge.com/css/lib.css" />
<link rel="stylesheet" type="text/css" href="https://www.varmoraforge.com/css/responsive.css" />
<link type="text/css" href="css/jquery.bxslider.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174156347-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-174156347-1");
</script>
<script type="text/javascript" src="https://www.varmoraforge.com/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.varmoraforge.com/js/sendmail.js"></script>
<script src="https://www.varmoraforge.com/js/lib.js"></script>
<script src="https://www.varmoraforge.com/js/jquery.bxslider.js"></script>
<script src="https://www.varmoraforge.com/js/functions.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>
</head>
<body>
    <!-- Header Section -->
    <header class="header_s">
        <div class="container-fluid">
            <div class="menu-block">
                <div class="container"> 
                    <!--====== Main Menu =====-->
                    <nav class="aegis-navigation">
                        <div class="inner-box">
                            <div class="logo-block">
                                <a class="navbar-brand" href="index.html"><img src="https://www.varmoraforge.com/images/logo.png" alt="logo"/></a>
                            </div>
                            <div class="social-box">
                                <ul>
                                    <li><a href="https://www.facebook.com/varmoraforgepvtltd" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/varmora-forge" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="https://twitter.com/VarmoraF" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                                </ul>
                            </div>
                            <a class="menuswitch" href="#">
                                <span class="menuline bar1"></span>
                                <span class="menuline bar2"></span>
                                <span class="menuline bar3"></span>
                            </a>
                        </div>
                        <ul class="navigation-menu">
                            <li><a href="index.html" title="Home">Home</a></li>
                            <li class="dropdown">
                                <i class="ddl-switch"></i>
                                <a href="company.html">Company Profile</a>
                                <ul class="dropdown-menu second-dropdown">
                                    <li><a href="company.html">About Us</a></li>
                                    <li><a href="infrastructure-team.html">Infrastructure &amp; Team</a></li>
                                    <li><a href="quality-assurance.html">Quality Assurance</a></li>
                                    <li><a href="quality-policy.html">Quality Policy</a></li>
                                    <li><a href="customer-satisfaction.html">Customer Satisfaction</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <i class="ddl-switch"></i>
                                <a href="javascript:;">Our Products</a>
                                <ul class="dropdown-menu second-dropdown">
                                    <!-- 1 -->
                                    <li class="dropdown">
                                        <i class="ddl-switch"></i>
                                        <a href="bolt-manufacturer.html">Bolts</a>
                                        <!-- 1 inner -->
                                        <ul class="dropdown-menu">                      
                                            <li><a href="hex-head-bolt-manufacturer.html">Hex Bolt</a></li>
                                            <li><a href="liner-bolt-manufacturer.html">Liner Bolt</a></li>
                                            <li><a href="foundation-bolt-manufacturer.html">Foundation Bolt</a></li>
                                            <li><a href="j-bolt-manufacturer.html">J bolt</a></li>
                                            <li><a href="u-bolt-manufacturer.html">U bolt</a></li>
                                            <li><a href="allen-csk-bolt-manufacturer.html">Allen CSK Bolt</a></li>
                                            <li><a href="allen-cap-bolt-manufacturer.html" class="noline">Allen Cap Bolt</a></li>
                                        </ul>
                                    </li>
                                    <!-- 2 -->
                                    <li class="dropdown">
                                        <i class="ddl-switch"></i>
                                        <a href="nut-manufacturer.html">Nuts</a>
                                        <!-- 2 inner -->
                                        <ul class="dropdown-menu">                      
                                            <li><a href="hex-nut-manufacturer.html" class="noline">Hex Nut</a></li>
                                        </ul>
                                    </li>
                                    <!-- 3 -->
                                    <li><a href="zinc-plated-bolts-manufacturers.html">Structural Bolts Zinc Phosphate Coated</a></li>
                                    <!-- 4 -->
                                    <li><a href="threaded-bars-stud.html">Threaded Bars / Stud</a></li>
                                    <!-- 5 -->
                                    <li class="dropdown">
                                        <i class="ddl-switch"></i>
                                        <a href="washers-manufacturer.html" class="noline">Washers</a>
                                        <!-- 5 inner -->
                                        <ul class="dropdown-menu">                      
                                            <li><a href="spring-washers-manufacturer.html">Spring Washer</a></li>
                                            <li><a href="plain-washers-manufacturer.html" class="noline">Plain Washer</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="technical-details-of-manufacturing.html">Technical Detail</a></li>
                            <li><a href="weight-chart-nut-bolt-manufacturer.html">Weight Chart</a></li>
                            <li><a href="applications.html">Applications</a></li>
                            <li><a href="catalogue.html">Catalogue</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="clients.html">Our Clients</a></li>                    
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="https://www.varmoraforge.com/Blog">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- Header Section /- -->
<div class="Web-Size About-Banner">
    <div class="Page-Size">
    	<div class="Banner-Content-Inner">
            <img src="images/about-banner-icon1.png" class="fl" />
            <h2>Company Profile</h2>
            <p>
                We Viraj renowned in Manufacturing and Supplying a comprehensive assortment of Metal Fasteners, Threaded Bar, Stainless Steel Bolt, Stainless Steel Nut and Bolt Washers.
                <br /><br />
            
            </p>
		</div>
	</div>	
</div>
<div class="Web-Size">
	<div class="Page-Size">
    	<div class="Content Inner-Content">
			<img class="fl"  src="images/bullete-blue.png" /><h1>Know Us</h1>
             <div class="Form" style="margin-bottom:20px;">
            	<h3>Quick Inquiry</h3>
                 <form>
                     <input type="text" name="name" id="txtName" placeholder="Name" />
                     <input type="email" name="email-id" id="txtEmail" placeholder="Email" />
                     <input type="text" name="contact-no" id="txtPhone" placeholder="Contact No." />
                     <textarea name="message" id="txtMessage" placeholder="Message"></textarea>
                     <img id="imgCaptcha" alt="captcha" src="/Captcha.ashx" style="width: 100%;height: 35px" />
                     <input type="text" placeholder="Captcha" id="txtCaptcha" name="txtCaptcha" />
                     <input type="reset" id="btnReset" value="Clear" /><input id="btnSubmit" type="submit" value="Send" />
                 </form>
            </div>
            <p><!--Varmora Group, the worldwide leader in a Ceramic industry, is the multi-product & multi-location business house. The group is active in ceramics, textiles, fasteners and plastic industries. lts annual turnover is more than USD 190 million. <br /><br />
We, Varmora Forge Private Limited, are fastener manufacturing unit of the Varmora Group.--> Our main products are hot-forged stainless, alloy steels standard, cold forge and hot forge as well as special fasteners i.e. Linear bolts, T- Bolt, U-Bolt, Square Head Bolt, Breakaway bolts, Foundation bolts, anchor bolts, marine fenders.<br /><br />
Established in 2008, in a very shor Our technical and commercial staff is working with us since we started our unit. This strengthens our position in the market as our people know in-depth requirements ofour customers.

            </p>
            <img class="fl"  src="images/bullete-blue.png" /><h1>Quality</h1>
            <p>
            	 Supplying the best quality products and rendering the highest level of services to our customers is our motto.
Established manufacturing practices
            
           
        </div>
    </div>
</div>
<div class="Web-Size Web-Footer">
	<div class="Page-Size">
    	<div class="Footer-Container">
            <div class="Contact-Information">
                <h3>Viraj Pvt. Ltd.</h3>
                <p>Rajkot Gujarat, India</p>
                <ul>
                    <li>Mobile No. +91 93289 25155</li>
                    <li>Office No. +91 77788 77751/52</li>
                    <li><a href="mailto:info@varmoraforge.com">info@varmoraforge.com</a></li>
                </ul>
            </div>
            <div class="Industry-Updates">
                <h3>Industry Updates</h3>
                <div class="Update-Wrapper">
                    <img src="images/footer-update-icon1.png" alt="" />
                    <div class="Update-Wrap">
                        <h4>19/08/2020</h4>
                        <p>These products are vastly acclaimed for their attributes such as fine finish, durability, sturdiness and corrosion resistance.</p>
                    </div>
                </div>
                <div class="Clear"></div>
                <div class="Update-Wrapper">
                    <img src="images/footer-update-icon2.png" alt="" />
					<div class="Update-Wrap">
                        <h4>19/08/2020</h4>
                        <p >All our members are highly active and take keen interest in all the business activities. They know their responsibilities and accordingly act to fulfill them with dedication.</p>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
<div class="Web-Size Blue">
	<div class="Page-Size">
    	<div class="Copy-Right">
        	<p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> | Varmora Forge Pvt. Ltd. All rights reserved.</p>
        </div>
    </div>	
</div>
<script type="text/javascript">
        $(".Nav-Toggle img").click(function () {
            $(".Navigation").slideToggle('Toggle-Nav');
        });
		$(".SubMenu1-Toggle").click(function () {
            $(".Sub-Menu1").slideToggle('Toggle-Nav');
			$(".Sub-Menu1").css('transform', 'skew(0deg)');
			$(".Sub-Menu1 ul li").css('transform', 'skew(0deg)');
        });
		$(".SubMenu2-Toggle").click(function () {
            $(".Sub-Menu2").slideToggle('Toggle-Nav');
			$(".Sub-Menu2").css('transform', 'skew(0deg)');
			$(".Sub-Menu2 ul li").css('transform', 'skew(0deg)');
        });
</script> 
</body>
</html>